.cross {
    padding: 10px;
    color: #d6312d;
    cursor: pointer;
    font-size: 23px
}

    .cross i {
        margin-top: -5px;
        cursor: pointer
    }

.comment-box {
    padding: 5px
}

.comment-area textarea {
    resize: none;
    border: 1px solid #ff0000
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 1px rgb(255, 0, 0) !important
}

.send {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000
}

    .send:hover {
        color: #fff;
        background-color: #f50202;
        border-color: #f50202;
    }

.rating {
    display: inline-flex;
    margin-top: -10px;
    flex-direction: row-reverse
}

    .rating > input {
        display: none
    }

    .rating > label {
        position: relative;
        width: 28px;
        font-size: 35px;
        color: #2bb7be;
        cursor: pointer
    }

        .rating > label::before {
            content: "\2605";
            position: absolute;
            opacity: 0
        }

        .rating > label:hover:before,
        .rating > label:hover ~ label:before {
            opacity: 1 !important
        }

    .rating > input:checked ~ label:before {
        opacity: 1
    }

    .rating:hover > input:checked ~ label:before {
        opacity: 0.4
    }

.buttonSmile {
    height: 48px;
    width: 48px;
    cursor: pointer;
    margin: 0px 6px 0px 6px;
    opacity: 0.5;
    transition: transform .2s; /* Animation */
}

.buttonSmileT {
    opacity: 1.0;
}

.smileRuim {
    background-image: url(../images/pesquisa_1.png);
}

.smileRegular {
    background-image: url(../images/pesquisa_2.png);
}

.smileBom {
    background-image: url(../images/pesquisa_3.png);
}

.smileOtimo {
    background-image: url(../images/pesquisa_4.png);
}

.smileExcelente {
    background-image: url(../images/pesquisa_5.png);
}

.buttonSmile:hover {
    transform: scale(1.3);
    opacity: 1.0;
}

.form-check {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

    .form-check label {
        margin-left: 15px;
        margin-right: 15px;
        font-size: 18px;
        font-weight: 500;
    }

    .form-check .form-check-input[type=checkbox] {
        border-radius: .25em;
        height: 30px;
        width: 30px;
    }

    .form-check .form-check-input[type=radio] {
        border-radius: 100%;
        height: 30px;
        width: 30px;
    }

.form-switch .form-check-input[type=checkbox] {
    border-radius: 2em;
    height: 30px;
    width: 100px;
}
